{% extends 'user.html' %}
{% block contends %}
    <form action="{% url 'publicdata' %}" method="post" class=" position-relative">
        {% csrf_token %}
    <input type="name" class="w-100 form-control border-0 py-3 mb-4" placeholder="Your Name" name="username">
    <input type="email" class="w-100 form-control border-0 py-3 mb-4" placeholder="Enter Your Email" name="email">
    <textarea class="w-100 form-control border-0 mb-4" rows="5" cols="10" placeholder="Your Message"></textarea>
    <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary " type="submit">Submit</button>
    {{msg}} {{msg1}}
    {% endblock %}
</form>
